<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="<%= path %>/css/style.css">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<!-- <link rel="icon" href="<%= path %>/img/favicon.ico"> -->
</head>
<body>


<!-- header -->
<header id="header">
<div class="inner">

<h1 class="header-logo"><a href=""><img src="<%= path %>/img/header-logo.png" alt="ロゴ"></a></h1>

<!-- header-nav -->
<nav class="header-nav">
<ul class="header-list">
	<li><a href="#">MENU1</a></li>
	<li><a href="#">MENU2</a></li>
	<li><a href="#">MENU3</a></li>
	<li><a href="#">MENU4</a></li>
	<li><a href="#">MENU5</a></li>
</ul>
</nav><!-- /header-nav -->

</div><!-- /inner -->
</header><!-- /header -->


<!-- drawer -->
<div class="drawer">
<div class="drawer-open"><span></span></div>
<div class="drawer-close"></div>

<!-- drawer-content -->
<div class="drawer-content">
<nav class="drawer-nav">
<ul class="drawer-list">
	<li><a href="#">MENU1</a></li>
	<li><a href="#">MENU2</a></li>
	<li><a href="#">MENU3</a></li>
	<li><a href="#">MENU4</a></li>
	<li><a href="#">MENU5</a></li>
</ul>
</nav><!-- /drawer-nav -->

</div><!-- /drawer-content -->
</div><!-- /drawer -->
