<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="<%= path %>/css/style.css">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="Keywords" content="<%= keyword %>">
<!-- <link rel="icon" href="<%= path %>/img/favicon.ico"> -->
</head>
<body>


<!-- header -->
<header id="header">
<div class="inner">

<h1 class="header-logo"><a href=""><img src="<%= path %>/img/header-logo.png" alt="ロゴ"></a></h1>

<!-- header-nav -->
<nav class="header-nav">
	<ul>
		<li><a href="#">MENU1</a></li>
		<li><a href="#">MENU2</a></li>
		<li><a href="#">MENU3</a></li>
		<li><a href="#">MENU4</a></li>
		<li><a href="#">MENU5</a></li>
	</ul>
</nav><!-- /header-nav -->

<!-- header-drawer -->
<div class="header-drawer">
	<div class="drawer">
		<div class="drawer-icon js-drawer for-drawer" data-target="for-drawer">
			<div class="drawer-bars">
					<span class="drawer-bar"></span>
					<span class="drawer-bar"></span>
					<span class="drawer-bar"></span>
			</div>
		</div>
		<div class="drawer-close js-drawer for-drawer"></div>
		<div class="drawer-content for-drawer">コンテンツ部分</div>
	</div>
</div><!-- /header-drawer -->

</div><!-- /inner -->
</header><!-- /header -->
